# 2018 September 26
# https://github.com/bevry/base

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = tab

[{*.mk,*.py}]
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 4

[{*.json,*.lsrules,*.yml,*.bowerrc,*.babelrc}]
indent_style = space
indent_size = 2

[{*.json,*.lsrules}]
insert_final_newline = true
