# 2017 January 27
# https://github.com/bevry/base

# Temp Files
yarn.lock
**/.docpad.db
**/out.*
**/*.log
**/*.cpuprofile
**/*.heapsnapshot

# Build Files
build/
components/
bower_components/
node_modules/
out/
*output/
coffeejs/
coffee/
es5/
es2015/
esnext/
docs/

# Editor Caches
.c9/

# Private Files
.env
.idea
.cake_task_cache


# =====================================
# CUSTOM

test/render-out/
test/.docpad.db
