# v1.3.5 October 31, 2013
# https://github.com/bevry/base

# Temp Files
**/*.log

# Build Files
build/
components/
bower_components/
node_modules/
out/


# =====================================
# PROJECT SPECIFIC FILES

test/render-out/
test/.docpad.db