# 27 March 2015
# https://github.com/bevry/base

# Temp Files
**/.docpad.db
**/out.*
**/*.log
**/*.cpuprofile
**/*.heapsnapshot

# Build Files
build/
components/
bower_components/
node_modules/
out/
coffeejs/
es5/

# Editor Caches
.c9/

# Private Files
.env
.idea
.cake_task_cache


# =====================================
# CUSTOM

test/render-out/
test/.docpad.db
