<div id="main">
	<header id="header">
		<a href="/">Benjamin Lupton</a>
		<a class="extra" href="/">home</a>
	</header>

	<div id="content" class="content">
		{{ content }}
	</div>

	<footer id="footer">
		<div class="contact">
			<p>
				Benjamin Lupton<br />
				Founder of <a href="http://bevry.org/">Bevry</a><br />
				<a href="mailto:contact@balupton.com">b@lupton.cc</a>
			</p>
		</div>
		<nav class="contact">
			<li>
				<a href="http://github.com/balupton/">github.com/balupton</a>
			</li>
			<li>
				<a href="http://twitter.com/balupton/">twitter.com/balupton</a>
			</li>
			<li>
				<a href="http://flickr.com/photos/balupton/">flickr.com/photos/balupton</a>
			</li>
		</nav>
		<div class="rss">
			<a href="http://feeds.feedburner.com/balupton">
				<img src="/images/rss.png" alt="Subscribe to RSS Feed" />
			</a>
		</div>
	</footer>

</div>
<a href="http://github.com/balupton"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub" /></a>
