.highlight {
  background: #fff;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  background-color: #e3d2d2;
  color: #a61717;
}
.highlight .k {
  font-weight: 700;
}
.highlight .o {
  font-weight: 700;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: 700;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-style: italic;
  font-weight: 700;
}
.highlight .gd {
  background-color: #fdd;
  color: #000;
}
.highlight .gd .x {
  background-color: #faa;
  color: #000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  background-color: #dfd;
  color: #000;
}
.highlight .gi .x {
  background-color: #afa;
  color: #000;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .gu {
  color: purple;
  font-weight: 700;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: 700;
}
.highlight .kd {
  font-weight: 700;
}
.highlight .kp {
  font-weight: 700;
}
.highlight .kr {
  font-weight: 700;
}
.highlight .kt {
  color: #458;
  font-weight: 700;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: teal;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: 700;
}
.highlight .no {
  color: teal;
}
.highlight .ni {
  color: purple;
}
.highlight .ne {
  color: #900;
  font-weight: 700;
}
.highlight .nf {
  color: #900;
  font-weight: 700;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: navy;
}
.highlight .nv {
  color: teal;
}
.highlight .ow {
  font-weight: 700;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: teal;
}
.highlight .vg {
  color: teal;
}
.highlight .vi {
  color: teal;
}
.highlight .il {
  color: #099;
}
