* {
  margin: 0;
  padding: 0;
}
html, body {
  color: #000;
  height: 100%;
}
body {
  background-color: #FFF;
  font: 13.34px helvetica, arial, freesans, clean, sans-serif;
  font-size: small;
}
#main {
  background: #ffffff url(/images/modules/header/background-v2.png) 0 0 repeat-x;
}
table {
  font: 100%;
  font-size: inherit;
}
input[type=text],
input[type=password],
input[type=image],
textarea {
  font: 99% helvetica, arial, freesans, sans-serif;
}
select, option {
  padding: 0 .25em;
}
optgroup {
  margin-top: .5em;
}
input.text {
  padding: 1px 0;
}
pre, code {
  font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}
body * {
  line-height: 1.4em;
}
p {
  margin: 1em 0;
}
img {
  border: 0;
}
abbr {
  border-bottom: none;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
html {
  overflow-y: scroll;
}
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a .danger {
  color: #c00;
}
a .action {
  color: #d00;
  text-decoration: underline;
}
.right {
  float: right;
}
.left {
  float: left;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
* html .columns {
  height: 1%;
}
.site {
  margin: 0 auto;
  padding: 0 15px;
  width: 920px;
}
h2, h3 {
  margin: 1em 0;
}
/* Content */
.content ol, form .content-body ol {
  margin: 1em 0 1em 2em !important;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  border: 0!important;
}
.content h1 {
  border-top: 4px solid #aaa!important;
  font-size: 170%!important;
  margin-top: 1.5em!important;
  padding-top: .5em!important;
}
.content h1:first-child {
  border-top: none!important;
  margin-top: 0!important;
  padding-top: .25em!important;
}
.content h2 {
  border-top: 4px solid #e0e0e0!important;
  font-size: 150%!important;
  margin-top: 1.5em!important;
  padding-top: .5em!important;
}
.content h3 {
  margin-top: 1em!important;
}
.content p {
  line-height: 1.5em!important;
  margin: 1em 0!important;
}
.content ul, .content ol {
  margin: 1em 0 1em 2em !important;
}
.content ul li, .content ol li {
  margin-bottom: .5em;
  margin-top: .5em;
}
.content blockquote {
  border-left: 5px solid #ddd!important;
  color: #555!important;
  margin: 1em 0!important;
  padding-left: .6em!important;
}
.content pre {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #444;
  font-size: 12px;
  line-height: 1.5em;
  margin: 1em 0;
  overflow: auto;
  padding: 5px;
}
.content pre::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.content pre::-webkit-scrollbar-track-piece {
  background-color: #e5e5e5;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  margin-bottom: 10px;
}
.content pre::-webkit-scrollbar-thumb:vertical {
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px #ffffff;
  background-color: #ccc;
  height: 25px;
}
.content pre::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 4px;
  background-color: #ccc;
  width: 25px;
}
.content pre code {
  background-color: #eee!important;
  border: none!important;
  font-size: 12px!important;
  padding: 0!important;
}
.content code {
  background-color: #f8f8ff!important;
  border: 1px solid #dedede!important;
  color: #444!important;
  font-size: 12px!important;
  padding: 0 .2em!important;
}
.content .frame > span {
  border: 1px solid #aaa;
  display: block;
  padding: 4px;
}
