<!DOCTYPE html>
<html>
<head>
	<!-- Meta Data -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Benjamin Lupton" />
	<meta name="email" content="contact@balupton.com" />
	<link href="http://feeds.feedburner.com/balupton" rel="alternate" title="Benjamin Lupton" type="application/atom+xml" />

	<!-- Site CSS -->
	<link rel="stylesheet" href="/styles/style.css" type="text/css" />
</head>
<body>
	<!-- jQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	
	<!-- Site Script -->
	<script type="text/javascript" src="/scripts/script.js"></script>

	<div id="main">
		<header id="header">
			<a href="/">Benjamin Lupton</a>
			<a class="extra" href="/">home</a>
		</header>

		<div id="content" class="content">
			{{ content }}
		</div>

		<footer id="footer">
			<div class="contact">
				<p>
					Benjamin Lupton<br />
					Couragous Web 2.0 Architect and Entreprenuer
					<a href="mailto:contact@balupton.com">contact@balupton.com</a>
				</p>
			</div>
			<nav class="contact">
				<li>
					<a href="http://github.com/balupton/">github.com/balupton</a>
				</li>
				<li>
					<a href="http://twitter.com/balupton/">twitter.com/balupton</a>
				</li>
				<li>
					<a href="http://flickr.com/photos/balupton/">flickr.com/photos/balupton</a>
				</li>
			</nav>
			<div class="rss">
				<a href="http://feeds.feedburner.com/balupton">
					<img src="/images/rss.png" alt="Subscribe to RSS Feed" />
				</a>
			</div>
		</footer>
	</div>

	<a href="http://github.com/balupton"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub" /></a>

</body>
</html>