---
layout: default
---
<article id="post" class="post <%= @Document.class %>" typeof="sioc:post" about="<%= @Document.url %>" lang="en-us">
	<h1 property="dcterms:title"><%= @Document.title %></h1>
	<div property="sioc:content"><%- @content %></div>
</article>

<% if @Document.relatedDocuments.length: %>
<section id="related">
	<h3>Related Posts</h3>
	<nav class="linklist">
		<% for Document in @Document.relatedDocuments: %>
			<li><span><%= Document.date.toShortDateString() %></span>
			&raquo;
			<a href="<%= Document.url %>"><%= Document.title %></a></li>
		<% end %>
	</nav>
</section>
<% end %>

<section id="comments">
	<h3>Feedback</h3>
	<div id="disqus_thread"></div>
	<script>
		// Prepare
		window.disqus_identifier = "<%=@Document.slug%>";
		window.disqus_developer = document.location.href.indexOf('localhost');
		window.disqus_url = "<%=@Document.url%>";
		// Reset
		if ( typeof window.DISQUS !== 'undefined' ) {
			window.DISQUS.reset({
				reload: true,
				config: function () {
					this.page.identifier = "<%=@Document.slug%>";
					this.page.url = "<%=@Document.url%>";
				}
			});
		}
	</script>
	<noscript>life would be cooler if you enabled javascript *sigh*</noscript>
</section>