---
layout: default
---
<article id="post" class="post {{ page.class }}" typeof="sioc:post" about="{{ page.url }}" lang="en-us">
	<h1 property="dcterms:title"><%= @Document.title %></h1>
	<div property="sioc:content"><%- @content %></div>
</article>

<section id="related">
  <h3>Related Posts</h3>
  <nav class="posts">
  	<% for Document in @Document.relatedDocuments: %>
      <li><span><%= Document.date %></span> &raquo; <a href="<%= Document.url %>"><%= Document.title %></a></li>
    <% end %>
  </nav>
</section>
