{
	# Subscription
	tosPrompt: """
		Voordat we verder gaan, heb je de DocPad Gebruiksvoorwaarden (http://bevry.me/tos) en het Privacybeleid (http://bevry.me/privacy) gelezen en ga je hiermee akkoord?
		"""
	tosAgree: """
		Geweldig. We houden van geïnformeerde mensen!
		"""
	tosDisagree: """
		Dit opnieuw openen als je het hebt gelezen, om vervolgens akkoord te gaan.
		"""
	subscribePrompt: """
		Wilt u zich op onze nieuwsbrief abonneren? Zo blijft u op de hoogte van de nieuwste releases en tutorials! (Engelstalig)
		"""
	subscribeConfigNotify: "Om dingen te versnellen hebben we de standaard waarden opgehaald, druk op enter om de standaardinstellingen te gebruiken of voer de door u gewenste waarden in.
	subscribeNamePrompt: "Uw naam?"
	subscribeEmailPrompt: "Uw email?"
	subscribeUsernamePrompt: "Uw gebruikersnaam?"
	subscribeError: " Oeps, het ziet ernaaruit dat er iets mis ging bij het inschrijving voor de nieuwsbrief ... uw hoeft zich geen zorgen te maken, we zullen het later opnieuw proberen"
	subscribeSuccess: "Geweldig, u bent nu ingeschreven voor onze nieuwsbrief. Doorgaan met de gewenste actie."
	subscribeIgnore: "No worries. Continuing with the desired action."
	subscribeProgress: "Bezig met aanmelden..."
	subscribeRequestData: "Inschrijving verzoek gegevens:"
	subscribeRequestError: "Inschrijven verzoek fout:"

	# Skeleton
	skeletonSelectionIntroduction: "Je staat op het punt om in de huidige map een nieuw project aan te maken. Hieronder ziet u de keuzelijst met web site sjablonen:"
	skeletonSelectionPrompt: "Welk sjabloon wenst u te gebruiken?"
	skeletonInstall: "Sjbaloon %s installeren op locatie %s"
	skeletonInstalled: "Sjabloon succesvol geinstalleerd."
	skeletonExists: "Sjabloon niet uitgevoerd. De gewenste structuur bestaat al!"
	skeletonNonexistant: """
		We konden geen bestaand DocPad project vinden in de huidige map. We keken naar:% s
		Indien u een reeds bestaande sjabloon als basis voor een nieuw project wenst te gebruiken, voer dan de opdracht 'docpad skeleton' uit in een lege map.
		Wilt u een nieuw, volledig blanco project opstarten? Dan vindt u hier de (Engelstalige) handleiding op http://docpad.org/get-started
		Voor meer informatie over wat deze melding precies inhoudt, gaat u dan naar: http://docpad.org/troubleshoot
		"""
	skeletonNoneName: "Geen sjabloon"
	skeletonNoneDescription: "Wenst u vanaf een blanco project te starten? Het is mogelijk om zonder sjabloon te starten."

	# Server
	serverInUse: "Niet in staat de web server te starten. Mogelijk is de gewenste poort al in gebruik."
	serverStart: "Start server op poort %s en in bestandslocatie %s"
	serverStarted: "DocPad aan het luisteren op %s in bestandslocatie %s"


	# Watching
	watchStart: 'Monitoren installatie opstarten...'
	watchStarted: 'Monitoren installatie'
	watchRegenerating: "Hergenereren op %s"
	watchRegenerated: "Hergenereerd op %s"
	watchChange: "Wijziging opgemerkt bij %s"
	watchIgnoredChange: "Wijziging genegeerd bij %s"
	watchDirectoryChange: "Bestandsmap veranderd bij %s"
	watchReloadChange: "Herladen wijziging opgemerkt bij %s"

	# Render
	renderingFiles: "Transformeren %s bestanden"
	renderedFiles: "%s bestanden getransformeerd"
	renderInvalidOptions: 'Ongeldige instellingen aan de transformatie actie doorgegeven!'
	renderProgress: "Momenteel op %s bij %s"
	renderGenerating: "Hergenereren..."
	renderGeneratingNotification: "Website hergenereren..."
	renderGenerated: "%s bestanden gegenereerd in %s seconden"
	renderGeneratedNotification: "Website gegenereerd"
	renderParsing: 'Alles invoegen'
	renderParsed: 'Alles ingevoegd'
	renderNonexistant: 'Kan geen website genereren als de src map niet gevonden is.'
	renderNoPlugins: "DocPad draait momenteel zonder enige plugins geinstalleerd. U wilt er waarschijnlijk wel enkele installeren: http://docpad.org/plugins"
	renderDirectoryParsing: "Invoegen mappen: %s"
	renderDirectoryParsed: "Mappen ingevoegd: %s"
	renderDirectoryNonexistant: "Map overgeslagen: %s (bestaat niet)"
	renderCleaning: "Bestanden opschonen"
	renderCleaned: "Bestanden opgeschoond"
	renderInterval: "Uitvoeren interval hergenereren"

	# Contextualize
	contextualizingFiles: "Contextualiseren %s bestanden"
	contextualizedFiles: "Contextualiseren %s bestanden"

	# Write
	writingFiles: "Schrijven van %s bestanden"
	wroteFiles: "Schrijven van %s bestanden"

	# Action
	actionStart: "Uitvoeren van de actie %s aangevangen"
	actionFinished: "Klaar met uitgevoeren van actie %s"
	actionNonexistant: "De actie %s bestaat niet!"

	# Plugins
	pluginFailedToLoad: "Plugin laden gefaald: %s bij %s"
	pluginsLoadingFor: "Plugins laden voor: %s"
	pluginsLoadedFor: "Plugins geladen voor: %s"
	pluginsSlow: "We zijn uw plugins aan het voorbereiden. Dit kan in het begin enige tijd in beslag nemen. Op plugins aan het wachten: %s"
	pluginLoading: "Laden plugin: %s"
	pluginLoaded: "Geladen plugin: %s"
	pluginSkipped: "Overgeslagen plugin: %s"
	pluginSkippedDueTo: "Overslaan van niet-ondersteunde plugin: %s met als reden %s"
	pluginContinued: "Doorgaan met uitvoeren van de niet-ondersteunde plugin: %s"
	pluginNamingConventionInvalid: """
		De plugin% s gebruikt een ongeldig naamgeving. We staan ​​alleen alfanumerieke tekens (geen symbolen) toe.
		Wellicht veranderen naar %s? Meer informatie vindt u op: http://docpad.org/plugin-conventions
		"""
	pluginPrototypeNameUndefined: """
		De plugin %s heeft niet een naam in het prototype gedefineerd, schakel over op standaardinstellingen naamgeving mappen.
		Meer informatie vindt u op: http://docpad.org/plugin-conventions
		"""
	pluginPrototypeNameDifferent: """
		De plugin %s gebruikt een andere naam voor het prototype. Dit kan problemen veroorzaken.
		Meer informatie vindt u op: http://docpad.org/plugin-conventions
		"""

	# Collections
	addingDocument: "Toevoegen van bestand: %s"
	addingFile: "Toevoegen bestand: %s"
	addingLayout: "Toevoegen layout: %s"
	addingHtml: "Toevoegen HTML bestand: %s"
	addingStylesheet: "Toevoegen stijlblad bestand: %s"

	# Loading
	loadingConfigUrl: "Laden configuratie URL: %s"
	loadingConfigPath: "Laden configuratiepad: %s"
	loadingFiles: "Laden van %s bestanden"
	loadedFiles: "%s bestanden geladen"
	loadingFile: "Laden bestand: %s"
	loadingFileFailed: "Laden mislukt van bestand: %s"
	loadingFileIgnored: "Overgeslagen genegeerd bestand: %s"
	loadedFile: "Bestand geladen: %s"

	# Console
	consoleError: "Iets is tijdens het uitvoeren van de opdracht misgegaan."
	consoleSuccess: "De actie is succesvol uitgevoerd."

	consoleDescriptionRun: "alles uitvoeren: skeleton, generate, watch, server"
	consoleDescriptionServer: "maakt een server voor uw gegenereerd project"
	consoleDescriptionSkeleton: "zal een nieuw project in uw huidige map aanmaken op basis van een bestaande sjabloon"
	consoleDescriptionRender: "transformeer het bestand op <locatie> en toon het resultaat op de standaard uitvoer"
	consoleDescriptionGenerate: "(her)genereren van het project"
	consoleDescriptionWatch: "monitort uw project op wijzigingen en (her)genereerd zodra de wijziging is opgeslagen"
	consoleDescriptionInstall: "zekerstellen dat alles correct is geinstalleerd"
	consoleDescriptionClean: "zekerstellen dat alles correct schoongemaakt is (zal de map out/ verwijderen)"
	consoleDescriptionInfo: "toon de informatie over de huidige docpad entiteit"
	consoleDescriptionHelp: "help uitvoeren"
	consoleDescriptionUnknown: "al het overige voert standaard de helpfunctie uit"

	consoleOptionOut: "locatie (bestandsmap) om de uitgevoerde en getransformeerde bestanden en mappen te plaatsen"
	consoleOptionConfig: "een aangepast (maatwerk) configuratiebestand inladen"
	consoleOptionEnv: "de naam van de omgeving waarvoor deze programmatuur bestemd is, meerdere namen kunnen door een comma gescheiden worden (vb. test, ontwikkeling, productieomgeving)"
	consoleOptionDebug: "het niveau (detail/aantal) van foutopsporingsberichten dat u wenst weer te geven, indien opgegeven standaard op 7, anders 6"
	consoleOptionForce: "forceer een herinstallatie van alle modules"
	consoleOptionPort: "een aangepast <poortnummer> voor de web server opgeven"
	consoleOptionSkeleton: "voor nieuwe projecten, inplaats van om een sjabloon te vragen, kunt u deze hier opgeven"

	# Misc
	renderedEarlyViaInclude: """
		Het invoegen van %s is mislukt, dit aangezien het bestand nog niet getransformeerd is.
		Meer informatie vindt u hier: http://docpad.org/render-early-via-include
		"""
	welcome: "Welkom bij DocPad %s"
	welcomePlugins: "Plugins: %s"
	welcomeEnvironment: "Omgeving: %s"
	includeFailed: "Niet in staat om bestand op locatie %s in te voegen. Kregen deze niet gevonden."
	warnOccured: "Een waarschuwing heeft plaatsgevonden:"
	errorOccured: "Een fout het plaatsgevonden:"
	errorLoggedTo: "Fout is geregistreerd: %s"
	errorFollows: "De fout volgt op:"
	reportError: "Fout tijdens uitvoeren van foutrapportage."
	trackError: "Fout tijdens verzenden van statistieken."
	unknownModelInCollection: "Onbekend model in de verzameling."
	upgradeNotification: "Er is een nieuwe versie van DocPad beschikbaar voor download!"
	upgradeDetails: """
		Er is een nieuwe versie van DocPad beschikbaar, u doet er verstandig aan deze oudere versie bij te werken...
		huidige versie:            %s
		nieuwe versie:             %s
		handleiding voor upgrade:  %sd
		"""
}
